:root {
    --white-page: #ffffff;
    --total-black: #000000;
    --primary-color: #0d4e9b;
    --secundary-color: #2a495f;
    --amz-primary-button: #FFD814;
    --section-clear: rgb(252, 238, 192);   

    --font-08-small: 0.8rem;
    --font-1-small: 1rem;
    --font-12-medium: 1.2rem;
    --font-16-medium: 1.6rem;
    --font-18-medium: 1.8rem;
    --font-2-medium: 2rem;
    --font-24-big: 2.4rem;
    --font-28-big: 2.8rem;
    --font-3-big: 3rem;
    --font-34-big: 3.4rem;

}
* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}
header {
    z-index: 10;
}