@import "./global.css";

.header_main{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 60px;
}

.image_and_description {
    width: 100%;
    height: 460px;
    position: relative;
    display: flex;
    overflow: hidden;
}
.image_and_description {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.description_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 8% 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: center;
    background: #2a495f61,;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2a495f61, var(--secundary-color));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2a495f61, var(--secundary-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.description_content h1 {
    width: 75%;
    font-size: var(--font-24-big);
    letter-spacing: 1px;
    color: var(--section-clear);
}
.description_content h1 strong {
    color: rgb(241 207 96);
}
.description_content p{
    width: 80%;
    font-size: var(--font-12-medium);
    letter-spacing: 0.6px;
    color: var(--white-page);
    font-weight: bold;

}