@import "./global.css";

.header_top_continer {
    width: 100vw;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var( --secundary-color);
    position: relative
}
.social_and_email {
    width: 70%;
    max-width: 260px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social_and_email a {
    width: auto;
    height: auto;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--white-page);
    font-size: var(--font-1-small);
}
.social_and_email a span {
    width: 20px;
    height: 20px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}
.icon_insta {
    background: url(../icons/instagram-white.svg); 
}
.icon_link {
    background: url(../icons/linkedin-white.svg);
}
.icon_google {
    background: url(../icons/google-plus-white.svg);
}
.icon_email {
    background: url(../icons/mail-white.svg);
}
.header_and_nav_content {
    width: 100vw;
    height: auto;
    position: relative;
    z-index: 10;
    overflow-y: hidden;
}
.header_bottom_container {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var( --primary-color);
    position: absolute;
    padding: 0 10%;
    z-index: 10;
}
.fixed_menu {
    position: fixed;
    top: 0;
    left: 0;
}
.header_left {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    gap: 28px;
}
.content_logo {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.content_logo img {
    width: 24px;
    height: 28px;
    object-fit: cover;
    /* margin-bottom: 4px; */
}
.content_logo span {
    font-size: var( --font-1-medium);
    letter-spacing: 0.6px;
    color: var(--white-page);
    font-weight: bold;
}
.header_left p {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: var( --font-2-medium);
    color: var(--white-page);
    letter-spacing: 1.4px;
    /* padding: 4px 12px;
    background: var(--secundary-color);
    border-radius: 8px; */
}

.header_right {
    width: auto;
    height: auto;
    display: block;
    position: relative;
}
.menu {
    width: 32px;
    height: 32px;
    display: block;
    background: url(../icons/menu-right-white.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.change_icon {
    width: 28px;
    height: 28px;
    background: url(../icons/close-menu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.list_nav_container {
    width: 100vw;
    height: auto;
    padding: 30px 30px 20px;
    position: absolute;
    top: 104px;
    left: 0px;
    z-index: 10;
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    clip-path: inset(0 0 100% 0);
    border-top: solid 2px var(--secundary-color);
    transition: 0.4s ease-in-out;
}
.fixed_nav {
    position: fixed;
    top: 60px;
}
.open_all_menu {
    clip-path: inset(0 0 0 0);
    transition: 0.4s ease-in-out;
}
.nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: visible;

}
.nav li {
    width: auto;
    height: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 8px 0;
    overflow: visible;
    transition: 0.4s ease-in-out;

}
.nav .go_tope {
    margin-top: 16px;
    background-color: var(--secundary-color);
    border-radius: 4px;
    box-shadow: 1px 2px 6px #373535;
}
.nav li a {
    width: auto;
    height: auto;
    text-decoration: none;
    color: var(--white-page);
    opacity: 0.6;
    font-weight: bold;
    font-size: var(--font-14-medium);
    text-transform: capitalize;
}
.nav li .this_position {
    opacity: 1;
    letter-spacing: 0.2px;
    font-size: var(--font-14-medium);
    text-transform: uppercase;
}
.nav .go_tope a {
    font-size: var(--font-12-medium);
    text-align: center;
    opacity: 1;
}
.nav .go_tope a strong {
    color: var(--section-clear);
}
.nav li span {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 10%;
    display: block;
    background: url(../icons/down-arrow-black.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    transition: all 0.4s ease-in-out;
}

.nav li ul {
    height: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0px;
    top: 12px;
    padding-left: 16px;
    clip-path: inset(0 0 100% 0);
    transition: 0.4s ease-in-out;
    border-left: solid 1px var(--white-page);
}

.nav_limp_open {
    height: auto !important;
    margin-bottom: 12px;
    clip-path: inset(0 0 0 0) !important;
    transition: 0.4s ease-in-out !important;
}
.arrow_up {
    transform: rotate(180deg);
    transition: all 0.4s ease-in-out;
}

@media screen and (min-width: 400px) {
    .list_nav_container {
        padding: 30px 40px 20px;
    }
}

@media screen and (min-width: 700px) and (min-height: 510px) {
   
    .social_and_email {
        width: 70%;
        max-width: 320px;
    }
    .social_and_email a span {
        width: 24px;
        height: 24px;
    }
    .social_and_email a {
        gap: 8px;
        font-size: var(--font-12-medium);
    }

    .list_nav_container {
        padding: 36px 100px 24px;
    }

    .nav .go_tope {
        width: 70%;
        max-width: 500px;
        margin: 28px auto 0;
    }
}

@media screen and (min-width: 830px) and (max-height: 509px) {
    .list_nav_container {
        padding: 20px 120px 16px;
    }
    .nav .go_tope {
        width: 60%;
        margin: 16px auto 0;
    }
}

@media screen and (min-width: 1200px) {
    .list_nav_container {
        padding: 36px 350px 24px;
    }
    .nav {
        gap: 6px;
    }
    .nav li a {
        font-size: var(--font-16-medium);
        letter-spacing: 0.4px;
    }
    .nav li .this_position {
        letter-spacing: 0.4px;
        font-size: var(--font-18-medium);
    }
}

@media screen and (min-width: 1900px) {
    .social_and_email {
        max-width: 340px;
    }
    .social_and_email a {
        font-size: var(--font-14-medium);
    }
    .header_bottom_container {
        height: 80px;
        padding: 0 16%;
    }
    .header_left {
        gap: 36px;
    }
    .content_logo img {
        width: 36px;
        height: 47px;
    }
    .content_logo span {
        font-size: var(--font-14-medium);
        letter-spacing: 0.8px;
    }
    .header_left p {
        font-size: var(--font-3-big);
        letter-spacing: 1.6px;
    }
    .menu {
        width: 44px;
        height: 44px;

    }
    .change_icon {
        width: 38px;
        height: 38px;
    }
    .list_nav_container {
        padding: 48px 500px 36px;
        top: 124px;
        border-top: solid 4px var(--secundary-color);
        justify-content: center;
    }
    .fixed_nav {
        position: fixed;
        top: 80px;
    }
    .nav {
        gap: 8px;
        max-width: 920px;
    }
    .nav li {
        padding: 12px 0;
    }
    .nav li a {
        font-size: var(--font-24-big);
        letter-spacing: 0.8px;
    }
    .nav li .this_position {
        font-size: var(--font-28-big);
    }
    .nav li span {
        width: 18px;
        height: 18px;
    }
    .nav li ul {
        top: 16px;
        padding-left: 24px;
        border-left: solid 4px var(--white-page);
    }
    .nav .go_tope {
        margin: 40px auto 0;
        border-radius: 8px;
    }
    .nav .go_tope a {
        font-size: var(--font-2-medium);
        text-align: center;
    }
}